// Progressio
//
// URL: https://github.com/valeriansaliou/progressio
// Author: Valérian Saliou
// Copyright: 2014, Valérian Saliou



@import "compass"



.progressio-container
  height: 2px
  background: #dbe0de

  .progressio
    position: relative
    height: 100%
    border-top: 1px solid #00a7f8
    border-bottom: 1px solid #225b9d
    +box-shadow(0 0 0 0)
    +transition-property(box-shadow)
    +transition-delay(350ms)

  &.color-red
    background: #dbe0de

    .progressio
      border-top-color: #00a7f8
      border-bottom-color: #225b9d

  &.color-green
    background: #dbe0de

    .progressio
      border-top-color: #00a7f8
      border-bottom-color: #225b9d

  &.color-yellow
    background: #dbe0de

    .progressio
      border-top-color: #00a7f8
      border-bottom-color: #225b9d

  &.color-orange
    background: #dbe0de

    .progressio
      border-top-color: #00a7f8
      border-bottom-color: #225b9d

  &.color-black
    background: #dbe0de

    .progressio
      border-top-color: #00a7f8
      border-bottom-color: #225b9d

  &.color-purple
    background: #dbe0de

    .progressio
      border-top-color: #00a7f8
      border-bottom-color: #225b9d
