/* line 11, ../../src/stylesheets/progressio.sass */
.progressio-container {
  height: 2px;
  background: #dbe0de;
}
/* line 15, ../../src/stylesheets/progressio.sass */
.progressio-container .progressio {
  position: relative;
  height: 100%;
  border-top: 1px solid #00a7f8;
  border-bottom: 1px solid #225b9d;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-delay: 350ms;
  -o-transition-delay: 350ms;
  -webkit-transition-delay: 350ms;
  transition-delay: 350ms;
}
